{% extends "base.html" %}
{% block main %}
{% load static %}
<main class="conteudo-criar-conta container">
  <div class="container-login">
    <div class="titulo">Crie sua conta</div>
    <form action="" method="post">
      {% csrf_token %}
      <div class="nome">
        {{form.username.errors}}
        <label for="nome">Usuário</label>
        {{form.username}}
      </div>

      <div class="senha">
        {{form.password.errors}}
        <label for="senha">Senha</label>
        {{form.password1}}
      </div>
      <div class="senha2">
        {{form.password2.errors}}
        <label for="senha2">Confirmar Senha</label>
        {{form.password2}}
      </div>

      <div>
        <button type="submit" class="btn cadastro ">Cadastrar<img src="{% static 'imgs/register.svg' %}" alt=""></button>
      </div>
    </form>
    <span style="display: block; margin-top: 30px; text-align: center;">Já tem uma conta ?<span style="color: #FAAC1C;"><a href=""> Faça seu login</a></span></span>

  </div>
</main>
{% endblock main %}